
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="format-detection" content="telephone=no">
		<link rel="stylesheet" type="text/css" href="css/reset.css">
		<link rel="stylesheet" type="text/css" href="css/design.css">
		<link rel="stylesheet" type="text/css" href="css/flexslider.css">
		<title>设计派</title>
	</head>
	<body data-type="design">
		<div class="match-top" id="designTop">
			<a href="find-activity.html"></a>设计党<span class="join">加入阵营</span>
		</div>
		<div class="match-search clearfix" style="border-bottom:1px solid #ccc;" id="serchField">
			<a href="javascript:;" class="design-search hidden"></a>
			<input type="text" value="" placeholder='请输入搜索人物的名字' class="searchBox fl" />
			<a href="javascript:;" class="searching fl">搜索</a>
		</div>
		<div id="match-tab" class="flexslider">
			<div id="tab" style="min-height:114px;">
				<ul class="slides clearfix"></ul>
			</div>
		</div>
		<div class="match-more clearfix" style="background:#fff;">
			<span>设计师品牌-TOP 3</span><a href="design-more.html" class="fr">更多...</a> 
		</div>
		<div id="design-rank">
			<ul class="clearfix"></ul>
		</div>
		<div id="designWork"></div>
		<div id="match-scroll-top"><a href="javascript:;"></a></div>
			<script type="text/template" id='picScrollTemp'>
				<% var reurl=window.location.href;  var Reurl=reurl.substring(reurl.lastIndexOf("/")+1);%>
     			<li><a href="find-detail.html?id=<%=Id%>"><img src="<%=ImgUrl%>" width="100%"/></a></li>
    		</script>
			<script type="text/template" id="designerTemp">
				<li class="fl">
				<% var reurl=window.location.href;  var Reurl=reurl.substring(reurl.lastIndexOf("/")+1);%>
					<a href="public_home.html?id=<%=Uid%>" class="wrap">
						<div class="person-rank">
							<img src="<%=Image%>" width="60px" class="person">
							<img src="./images/match-icon-1.png" class="rank">
						</div>
						<p class="name" style="color: #ff7f00;"><%=UserNick%></p>
						<p class="e-name"><%=Description%></p>
					</a>
				</li>
			</script>
			<script type="text/template" id="designWorkTmp">
				<div class="match-author list-item" data-uid=<%=UserInfo.Uid%>>
					<div class="top clearfix">
					<% var reurl=window.location.href;  var Reurl=reurl.substring(reurl.lastIndexOf("/")+1);%>
						<a href="public_home.html?id=<%=UserInfo.Uid%>" class="portrait">
							<% if (UserInfo.Image == '' || UserInfo.Image == 'http://zoneimages.moonbasa.com/images/user.jpg') {%>
								<img src="images/user.jpg" width="100%" data-type='person'>
							<% } %>
							<% if (UserInfo.Image != '' && UserInfo.Image != 'http://zoneimages.moonbasa.com/images/user.jpg') {%>
								<img src="<%=UserInfo.Image%>" width="100%" data-type='person'>
							<% } %>
						</a>
						<div class="introduction">
							<span><%=UserInfo.UserNick%></span>
							<p class='title'><%=Declare%></p>
						</div>
						<%if(UserInfo.Flag==false){%>
							<a href="javascript:;" class="attention fr" data-type='attention'>+关注</a>
						<%}%>
						<%if(UserInfo.Flag==true){%>
							<a href="javascript:;" class="attention-active fr" data-type='attention'>已关注</a>
						<%}%>
						<input type="hidden" value='<%=UserInfo.Uid%>' data-type="uid">
					</div>
					<div class="content">
						<a href="viewPhptos.html?pid=<%=Pid%>" class="author-photo"><img src="<%=Photo%>" width="100%"></a>
						<p class="describtion"><%=UserInfo.Description%></p>
					</div>
				</div>
				</div>
			</script>
			<script type="text/javascript" src="js/jquery-2.0.1.min.js"></script>
			<script type="text/javascript" src="js/jquery.flexslider-min.js"></script>
			<script src="js/config.js"></script> 
            <script type="text/javascript" src="js/layer.m.js"></script>
			<script type="text/javascript" src="js/public.js"></script>
			<script src="js/ejs_production.js"></script>
			<script type="text/javascript" src="js/MZ_find.js"></script>
	</body>
</html>

