<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <staticContent>
      <mimeMap fileExtension=".ejs" mimeType="text/jscript" />
      <mimeMap fileExtension=".json" mimeType="application/x-javascript" />
    </staticContent>
  </system.webServer>
  
  <appSettings>
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!-- <add key="ConnectionStringConfig" value="Configuration\BaseConfig\ConnectionString.config"/>
      <add key="MVCWCFConfigs" value="Configuration/BaseConfig/MVCWCF.config"/>-->
    <add key="MolaWebApiConfig" value="Configuration\BaseConfig\MolaApi.config" />
    <add key="MoonDuDFSDomin" value="http://nginx.moonbasagroup.com/" />
    <add key="MoonDuStaticDomin" value="http://all.moonbasagroup.com:8081" />
    <add key="MoonDuAppDomain" value="http://mobile.moonbasagroup.com:8099" />
    <!---->
    <add key="MooduWPApiDomain" value="http://mgirl.moonbasa.com" />
    <add key="MooduWPDomain" value="http://mgirl.moonbasa.com" />

    <!--<add key ="MooduWPApiDomain" value ="http://moonduwptest.moonbasa.web.moonbasagroup.com"/>
    <add key ="MooduWPDomain" value ="http://moonduwptest.moonbasa.web.moonbasagroup.com"/>-->
  </appSettings>
</configuration>
