* {
    padding: 0;
    margin: 0;
}
a {
    color: #666;
    text-decoration: none;
}
ul {
    list-style-type: none;
}
.ct li{
    padding: 10px 10px;
    margin:10px 10px;
    border: 1px solid #ccc;
}
.ct li:hover{
    background-color: lightgreen;
}
.ct-btn {
    text-align: center;
}
.btn{
    padding: 10px 15px;
    border: 1px solid #e75480;
    display: inline-block;
    margin: 0 auto;
    color: #e75480;
}
.btn:active{
    background-color: #f60;
    color: #fff;
}